<app-page-title (add)="addPerson()">People</app-page-title>

<mat-list>
  @for (person of people | async; track person.id) {
    <mat-list-item>
      <span class="name">{{person.name}}</span>
      <div matListItemMeta>
        <button mat-icon-button (click)="editPerson(person)" matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deletePerson(person)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  }
</mat-list>
