:host {
  display: block;
  padding: 20px;
}

.current-year {
  cursor: default;
}

h2 {
  margin: 0 0 20px 0 !important;
  line-height: 48px !important;

  button {
    margin-left: 8px;

    mat-icon {
      margin-right: 0;
    }
  }
}

.stage {
  mat-expansion-panel-header {
    --mat-expansion-header-expanded-state-height: 88px;

    .name-field {
      margin: 16px 0;
    }

    .delete-btn {
      margin: auto 0 auto 10px;
    }
  }

  .fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .income {
    display: flex;
    gap: 20px;
  }
}

.year-marker {
  display: flex;
  align-items: center;
  padding: 25px 0;
  gap: 10px;
  cursor: n-resize;

  .year {
    width: 64px;
  }

  .divider {
    flex: 1 0 auto;
    margin: auto 0;
  }

  .add {
    button {
      mat-icon {
        margin-right: 0;
      }
    }
  }
}

.footer-notes {
  font-style: italic;
  margin-top: 20px;
}
