<h2 class="mat-headline-4">Stages</h2>

<app-stages-year-bar
  class="current-year"
  [year]="currentYear"
  (addClicked)="addStage()"
></app-stages-year-bar>

@if (stages | async; as stages) {
  @for (stage of stages; track stage.id; let index = $index) {
    <mat-expansion-panel class="stage">
      <mat-expansion-panel-header>
        {{stage.name}}
        <!-- <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteStage(stage)">
          <mat-icon>close_small</mat-icon>
        </button> -->
      </mat-expansion-panel-header>

      <div class="fields">
        <h6 class="mat-headline-6">Income (yearly)</h6>
        <div class="income">
          @for (person of stage.income | keyvalue; track person.key) {
            <mat-form-field subscriptSizing="dynamic"
              floatLabel="always"
              matTooltip="Leave blank to use the same value as the previous stage"
            >
              <mat-label>{{person.value[0]}}</mat-label>
              <input type="number" matInput [placeholder]="getIncome(stages, index, person.key) + ''" [formControl]="person.value[1]">
            </mat-form-field>
          }
        </div>

        <app-stages-scheme [stageId]="stage.id" [scheme]="stage.scheme"></app-stages-scheme>

        <app-stages-distribution
          [stageId]="stage.id"
          [distribution]="stage.portfolioDistribution"
          [frequency]="stage.portfolioDistributionFrequency"
        ></app-stages-distribution>
      </div>
    </mat-expansion-panel>

    @if (stage.endYear !== undefined) {
      <app-stages-year-bar
        [year]="stage.endYear"
        [disableAdd]="!canAddStage(stage, stages[index + 1])"
        (yearUpdated)="updateYear(stage.id, $event)"
        (addClicked)="addStage(stage, stages[index + 1])"
      ></app-stages-year-bar>
    }
  }
}

@if (archivedStages | async; as stages) {
  @if (stages.length > 0) {
    <h2 class="mat-headline-4">Archive</h2>

    <mat-accordion>
      @for (stage of stages; track stage.name) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            {{stage.name}}
            <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteStage(stage)">
              <mat-icon>close_small</mat-icon>
            </button>
          </mat-expansion-panel-header>


        </mat-expansion-panel>

        <div class="year-marker">
          <span>{{stage.endYear}}</span>
          <mat-divider></mat-divider>
        </div>
      }
    </mat-accordion>
  }
}

<p class="footer-notes">
  * Expenses should not include mortgage payments.<br>
  * All figures should be entered in today's money, they will be adjusted for inflation automatically.
</p>
