@use 'sass:map';
@use '@angular/material' as mat;
@use 'theme' as theme;

:host {
  display: block;
  padding: 20px;
}

.net-worth {
  display: flex;
  width: 100%;
  height: 10px;

  .crypto {
    background-color: rgba(223, 68, 68, 0.801);
  }
}

.info-box {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  --mat-form-field-container-vertical-padding: 5px;

  .success-field {
    color: mat.get-color-from-palette(theme.$app-primary-palette, 300);
    font-size: 24px;
    width: 100px;
    text-align: center;

    .text {
      display: block;
      padding: 12px 0;
    }
  }

  .right {
    display: flex;
    gap: 20px;

    .view-ctrl {
      padding: 12px 0;
    }

    .visibility-slider {
      width: 180px - 8px*2;
      z-index: 10;
    }
  }
}

.graph {
  $left-margin: 60px;
  padding-top: 10px;
  overflow: hidden;

  .svg-container {
    position: relative;
    display: flex;

    .y-labels {
      width: $left-margin;
      min-width: $left-margin;
      position: relative;

      .y-label {
        position: absolute;
        right: 8px;

        &::before {
          content: '';
          position: absolute;
          right: -8px;
          top: calc(50% - 1px);
          width: 6px;
          border-top: 2px solid black;
        }
      }
    }

    svg {
      overflow: visible;
      width: calc(100% - $left-margin);
      z-index: 10;

      .percentiles-path {
        fill: mat.get-color-from-palette(theme.$app-accent-palette, 300);
        stroke: mat.get-color-from-palette(theme.$app-accent-palette, 500);
        stroke-width: 0.25;
      }

      .median-path {
        fill: none;
        stroke: mat.get-color-from-palette(theme.$app-primary-palette, 500);
        stroke-width: 0.25;
      }

      .hovered-path {
        fill: none;
        stroke: white;
        stroke-opacity: 0.5;
        stroke-width: 0.25;
      }

      .x-axis, .y-axis {
        stroke: black;
        stroke-width: 0.5;
      }

      .hover-point {
        text { font-size: 4px; }

        &.lower {
          circle, text { fill: mat.get-color-from-palette(mat.$red-palette, 200); }
        }
        &.median {
          circle, text { fill: mat.get-color-from-palette(theme.$app-primary-palette, 500); }
        }
        &.upper {
          circle, text { fill: mat.get-color-from-palette(mat.$green-palette, 200); }
        }
      }
    }
  }

  .people {
    margin-top: 5px;

    .person {
      display: flex;
      width: 100%;
    }

    .name {
      font-size: 12px;
      flex: 0 0 $left-margin;
    }

    .x-labels {
      position: relative;
      width: calc(100% - $left-margin);

      .x-label {
        position: absolute;
        top: 0;
        width: 40px;
        text-align: center;

        &.hover-label {
          color: mat.get-color-from-palette(theme.$app-accent-palette, 300);
          background: linear-gradient(
            to right,
            transparent,
            10%,
            mat.get-color-from-palette(map.get(map.get(theme.$app-theme, color), background), background),
            90%,
            transparent
          );
        }
      }
    }

    .person.has-tick {
      .x-labels {
        .x-label::before {
          content: '';
          position: absolute;
          left: calc(50% - 1px);
          top: -5px;
          height: 6px;
          border-left: 2px solid black;
        }
      }
    }
  }

  .stages {
    display: flex;
    margin-left: $left-margin;
    margin-top: 5px;

    .stage {
      flex: 0 0 auto;
      position: relative;
      padding-top: 5px;
      text-align: center;
      overflow-x: clip;
      text-overflow: ellipsis;
      white-space: nowrap;


      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        left: 1px;
        right: 1px;
        height: 5px;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
      }
    }
  }
}
