<!-- <h2>Net worth: {{netWorth | async | currency:'GBP'}}</h2>
  @if (cryptoPercentage | async; as percent) {
    <div class="crypto"
      [style.width]="percent + '%'"
      [matTooltip]="'Cryptocurrency: ' + percent + '% (' + (cryptoAmount | async | currency:'GBP') + ')'"
    ></div>
  }
</div> -->

<div class="info-box">
  <mat-form-field class="success-field"
    floatLabel="always"
    subscriptSizing="dynamic"
    appearance="outline"
    [matTooltip]="((1 - successRate()) * 100 | number:'1.0-0') + '% of scenarios ran out of money'"
    [matTooltipPositionAtOrigin]="false"
  >
    <mat-label>Success</mat-label>
    <input [style.display]="'none'" matInput hidden>
    <span class="text">{{ successRate() * 100 | number:'1.0-0' }}%</span>
  </mat-form-field>


  <div class="right">
    <mat-form-field floatLabel="always" subscriptSizing="dynamic" appearance="outline">
      <mat-label>Visible scenarios</mat-label>
      <input [style.display]="'none'" matInput hidden>
      <mat-slider class="visibility-slider"
        color="accent"
        min="0"
        max="100"
        step="1"
        discrete
        [displayWith]="sliderDisplay"
        [matTooltip]="'Displaying ' + percentileControl.value + '% of all scenarios. The top ' + percentile() + '% best-case and bottom ' + percentile() + '% worst-case scenarios are hidden.'"
        [matTooltipPositionAtOrigin]="false"
      >
        <input matSliderThumb [formControl]="percentileControl" #percentileSlider>
      </mat-slider>
    </mat-form-field>

    <mat-form-field floatLabel="always" subscriptSizing="dynamic" appearance="outline">
      <mat-label>View</mat-label>
      <mat-select class="view-ctrl" [formControl]="logarithmicViewCtrl">
        <mat-option [value]="false">Linear</mat-option>
        <mat-option [value]="true">Logarithmic</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>


<!--

<p>
  You're on course to retire at age <span class="highlight">55</span>
</p> -->

<!--

  Tab for each plan
  Overall settings

  Settings lets you setup:
    * graphs of historical stock price, gold price, bonds, etc. - user can add their own graphs too
    * people - the ages and life expectancy of the people, usually will be 1 person or a couple
    * current assets & investments

  Each plan tab displays:
    * life stages with income & expenses for each person (option to combine expenses?)
    *


  Monetize by:
    * allowing multiple settings to be setup : very useful for professional financial planners
    * allow backing up settings to disk/cloud (needs encryption!)
    * "clients" page where you can choose which client to view

 -->

<!--
  Graph with:
    * Net worth
    * Investment nest egg
    * Expenditures: columns showing money spent (user can change the smoothing level e.g. day, month, year)


    life expectancy should be configurable with mean & variance

    example of stages: now, kids start school, kids leave home, retirement, state pension available

    models for: inflation, bonds, stocks

    allow option of varying allocation to cash/bonds/stocks, during market downturn only draw money from the cash pile to prevent selling stocks. Have a variable for cash buffer e.g. 5 years of expenses

    put a watermark with the url on the graph
-->

@if (cycles().length > 0) {
  <div class="graph" @fadeIn>
    <div class="svg-container">
      <div class="y-labels">
        @for (label of yLabels(); track label) {
          <span class="y-label" [style.bottom]="'calc(' + (100 - label.y) + '% - 10px)'">{{label.value | appCurrency}}</span>
        }
      </div>

      <svg viewBox="0 0 300 100" #svg (mousemove)="mouseMoved.next($event)" (mouseleave)="mouseMoved.next(null)">
        <defs>
          <clipPath id="clip">
            <rect width="300" height="100" />
          </clipPath>
        </defs>

        @if (paths(); as p) {
          <g clip-path="url(#clip)">
            <path class="percentiles-path" [attr.d]="p.percentiles"></path>
            <path class="median-path" [attr.d]="p.median"></path>
            @if (hoverPath(); as hp) {
              <path class="hovered-path" [attr.d]="hp"></path>
            }
          </g>
        }

        <line class="x-axis" x1="0" y1="100" x2="300" y2="100"></line>
        <line class="y-axis" x1="0" y1="0" x2="0" y2="100"></line>

        @if (hoverPoint(); as point) {
          <g class="hover-point lower">
            <circle [attr.cx]="point.lower.x" [attr.cy]="point.lower.y" r="1" />
            <text
              [attr.text-anchor]="point.lower.x > 250 ? 'end' : 'start'"
              [attr.x]="point.lower.x > 250 ? point.lower.x - 4 : point.lower.x + 4"
              [attr.y]="point.lower.textY + 1.25"
            >
              {{point.lower.value | appCurrency}}
            </text>
          </g>
          <g class="hover-point median">
            <circle [attr.cx]="point.median.x" [attr.cy]="point.median.y" r="1" />
            <text
              [attr.text-anchor]="point.median.x > 250 ? 'end' : 'start'"
              [attr.x]="point.median.x > 250 ? point.median.x - 4 : point.median.x + 4"
              [attr.y]="point.median.textY + 1.25"
            >
              {{point.median.value | appCurrency}}
            </text>
          </g>
          <g class="hover-point upper">
            <circle [attr.cx]="point.upper.x" [attr.cy]="point.upper.y" r="1" />
            <text
              [attr.text-anchor]="point.upper.x > 250 ? 'end' : 'start'"
              [attr.x]="point.upper.x > 250 ? point.upper.x - 4 : point.upper.x + 4"
              [attr.y]="point.upper.textY + 1.25"
            >
              {{point.upper.value | appCurrency}}
            </text>
          </g>
        }
      </svg>
    </div>

    <div class="people" matTooltip="Age" [matTooltipPositionAtOrigin]="false">
      @for (person of xLabels(); track person.name; let index = $index) {
        <div class="person" [class.has-tick]="index === 0">
          <span class="name">{{person.name}}</span>
          <div class="x-labels">
            @for (label of person.labels; track label) {
              <span class="x-label" [style.left]="'calc(' + 100 * label.x / 300 + '% - 20px)'">{{label.value}}</span>
            }
            @if (xHoverPoint(); as pointsByPersonId) {
              <span class="x-label hover-label" [style.left]="'calc(' + 100 * pointsByPersonId[person.id].x / 300 + '% - 20px)'">
                {{pointsByPersonId[person.id].label}}
              </span>
            }
          </div>
        </div>
      }
    </div>

    <div class="stages">
      @for (stage of stageLabels(); track stage.id) {
        <div class="stage" [style.width]="stage.width" [matTooltip]="stage.name">{{stage.name}}</div>
      }
    </div>
  </div>
} @else {
  <mat-spinner></mat-spinner>
}
