<!-- <h2>Net worth: {{netWorth | async | currency:'GBP'}}</h2> -->
<div class="net-worth">
  <!-- @if (cryptoPercentage | async; as percent) {
    <div class="crypto"
      [style.width]="percent + '%'"
      [matTooltip]="'Cryptocurrency: ' + percent + '% (' + (cryptoAmount | async | currency:'GBP') + ')'"
    ></div>
  } -->
</div>

Success: {{ successRate() * 100 | number:'1.0-2' }}%

<!--

<p>
  You're on course to retire at age <span class="highlight">55</span>
</p> -->

<!--

  Tab for each plan
  Overall settings

  Settings lets you setup:
    * graphs of historical stock price, gold price, bonds, etc. - user can add their own graphs too
    * people - the ages and life expectancy of the people, usually will be 1 person or a couple
    * current assets & investments

  Each plan tab displays:
    * life stages with income & expenses for each person (option to combine expenses?)
    *


  Monetize by:
    * allowing multiple settings to be setup : very useful for professional financial planners
    * allow backing up settings to disk/cloud (needs encryption!)
    * "clients" page where you can choose which client to view

 -->

<!--
  Graph with:
    * Net worth
    * Investment nest egg
    * Expenditures: columns showing money spent (user can change the smoothing level e.g. day, month, year)


    life expectancy should be configurable with mean & variance

    example of stages: now, kids start school, kids leave home, retirement, state pension available

    models for: inflation, bonds, stocks

    allow option of varying allocation to cash/bonds/stocks, during market downturn only draw money from the cash pile to prevent selling stocks. Have a variable for cash buffer e.g. 5 years of expenses

    put a watermark with the url on the graph
-->

<div class="graph">
  <div class="svg-container">
    @if (yLabels(); as labels) {
      <div class="y-labels">
        @for (label of labels; track label) {
          <span class="y-label" [style.bottom]="label.y">{{label.value | appCurrency}}</span>
        }
      </div>
    }

    <svg [attr.viewBox]="'0 0 ' + (xOffset + 300) + ' 100'">
      <path class="path" [attr.d]="path()" stroke="transparent" stroke-width="0.25" fill="lightsteelblue" fill-opacity="0.8"></path>
      <path class="percentiles-path" [attr.d]="percentilesPath()" stroke="darkblue" stroke-width="0.25" fill="lightsteelblue"></path>
      <path class="median-path" [attr.d]="medianPath()" stroke="white" stroke-width="0.25" fill="none"></path>

      <line class="x-axis"
        [attr.x1]="xOffset"
        y1="100"
        [attr.x2]="xOffset + 300"
        y2="100"
      ></line>
      <line class="y-axis"
        [attr.x1]="xOffset"
        y1="0"
        [attr.x2]="xOffset"
        y2="100"
      ></line>
    </svg>
  </div>

  <!-- @if (stages | async; as stages) {
    @if (stages.length > 1) {
      <div class="stages">
        @for (stage of stages; track stage.name; let last = $last) {
          <div class="stage">{{stage.name}}</div>
          @if (!last) {
            <mat-divider [vertical]="true"></mat-divider>
          }
        }
      </div>
    }
  } -->

  @if (xLabels(); as people) {
    <div class="person-ages">
      @for (person of people | keyvalue; track person.key) {
        <div class="person">
          <span class="name">{{person.key}}</span>
          <div class="ages">
            @for (label of person.value; track label) {
              <span class="age" [style.width]="xLabelWidth">{{label}}</span>
            }
          </div>
        </div>
      }
    </div>
  }
</div>

