<!-- <h2>Net worth: {{netWorth | async | currency:'GBP'}}</h2> -->
<div class="net-worth">
  <!-- @if (cryptoPercentage | async; as percent) {
    <div class="crypto"
      [style.width]="percent + '%'"
      [matTooltip]="'Cryptocurrency: ' + percent + '% (' + (cryptoAmount | async | currency:'GBP') + ')'"
    ></div>
  } -->
</div>

<h4 [matTooltip]="((1 - successRate()) * 100 | number:'1.0-2') + '% of scenarios ran out of money'">
  Success: {{ successRate() * 100 | number:'1.0-2' }}%
</h4>

<h4 [matTooltip]="'Displaying ' + percentileControl.value + '% of all scenarios. The top ' + percentile() + '% best-case and bottom ' + percentile() + '% worst-case scenarios are hidden.'">
  Visible scenarios: {{ percentileControl.value | number:'1.0-2' }}%
</h4>
<mat-slider color="primary" min="0" max="100" step="1">
  <input matSliderThumb [formControl]="percentileControl" #percentileSlider>
</mat-slider>

<!--

<p>
  You're on course to retire at age <span class="highlight">55</span>
</p> -->

<!--

  Tab for each plan
  Overall settings

  Settings lets you setup:
    * graphs of historical stock price, gold price, bonds, etc. - user can add their own graphs too
    * people - the ages and life expectancy of the people, usually will be 1 person or a couple
    * current assets & investments

  Each plan tab displays:
    * life stages with income & expenses for each person (option to combine expenses?)
    *


  Monetize by:
    * allowing multiple settings to be setup : very useful for professional financial planners
    * allow backing up settings to disk/cloud (needs encryption!)
    * "clients" page where you can choose which client to view

 -->

<!--
  Graph with:
    * Net worth
    * Investment nest egg
    * Expenditures: columns showing money spent (user can change the smoothing level e.g. day, month, year)


    life expectancy should be configurable with mean & variance

    example of stages: now, kids start school, kids leave home, retirement, state pension available

    models for: inflation, bonds, stocks

    allow option of varying allocation to cash/bonds/stocks, during market downturn only draw money from the cash pile to prevent selling stocks. Have a variable for cash buffer e.g. 5 years of expenses

    put a watermark with the url on the graph
-->

<div class="graph">
  <div class="svg-container">
    <div class="y-labels">
      @for (label of yLabels(); track label) {
        <span class="y-label" [style.bottom]="'calc(' + (100 - label.y) + '% - 10px)'">{{label.value | appCurrency}}</span>
      }
    </div>

    <svg viewBox="0 0 300 100" #svg (mousemove)="mouseMoved($event)" (mouseleave)="hoverPoint.set(null)">
      @if (paths(); as p) {
        <path class="percentiles-path" [attr.d]="p.percentiles"></path>
        <path class="median-path" [attr.d]="p.median" stroke="white"></path>
      }

      <line class="x-axis" x1="0" y1="100" x2="300" y2="100"></line>
      <line class="y-axis" x1="0" y1="0" x2="0" y2="100"></line>

      @if (hoverPoint(); as point) {
        <circle [attr.cx]="point.lower.x" [attr.cy]="point.lower.y" r="1" fill="black" />
        <text class="hover-point lower"
          [attr.x]="point.lower.x > 150 ? point.lower.x - 18 : point.lower.x + 6"
          [attr.y]="point.lower.y + 2"
        >
          {{point.lower.value | appCurrency}}
        </text>
        <circle [attr.cx]="point.median.x" [attr.cy]="point.median.y" r="1" fill="black" />
        <text class="hover-point median"
          [attr.x]="point.median.x > 150 ? point.median.x - 18 : point.median.x + 6"
          [attr.y]="point.median.y + 2"
        >
          {{point.median.value | appCurrency}}
        </text>
        <circle [attr.cx]="point.upper.x" [attr.cy]="point.upper.y" r="1" fill="black" />
        <text class="hover-point upper"
          [attr.x]="point.upper.x > 150 ? point.upper.x - 18 : point.upper.x + 6"
          [attr.y]="point.upper.y + 2"
        >
          {{point.upper.value | appCurrency}}
        </text>
      }
    </svg>
  </div>

  <!-- @if (stages | async; as stages) {
    @if (stages.length > 1) {
      <div class="stages">
        @for (stage of stages; track stage.name; let last = $last) {
          <div class="stage">{{stage.name}}</div>
          @if (!last) {
            <mat-divider [vertical]="true"></mat-divider>
          }
        }
      </div>
    }
  } -->

  <div class="people" matTooltip="Age">
    @for (person of xLabels(); track person.name) {
      <div class="person">
        <span class="name">{{person.name}}</span>
        <div class="x-labels">
          @for (label of person.labels; track label) {
            <span class="x-label" [style.left]="'calc(' + 100 * label.x / 300 + '% - 20px)'">{{label.value}}</span>
            <!-- <span class="x-label" [style.width]="xLabelWidth()">{{label}}</span> -->
          }
        </div>
      </div>
    }
  </div>
</div>

