<header>
  <mat-toolbar>
    @if (ltMd | async) {
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    } @else {
      <mat-nav-list>
        @for (route of routes; track route) {
          <a mat-list-item [routerLink]="route.path" routerLinkActive="active" ariaCurrentWhenActive="page">
            {{route.data?.['title']}}
          </a>
        }
      </mat-nav-list>
    }
  </mat-toolbar>
</header>


<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <mat-nav-list>
      @for (route of routes; track route) {
        <a mat-list-item [routerLink]="route.path" routerLinkActive="active" ariaCurrentWhenActive="page">
          {{route.data?.['title']}}
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
