header {
  .page-link {
    border-radius: 0;

    &.active {
      border-bottom: 2px solid var(--mat-toolbar-container-text-color);
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}

mat-sidenav-container {
  height: calc(100% - 64px);

  &.xs {
    height: calc(100% - 56px);
  }
}
