<section>
  <h2 class="mat-headline-4">Stocks &amp; Shares</h2>

  <mat-list>
    <div mat-subheader>Stocks &amp; Shares ISAs</div>
    @for (isa of isas; track isa) {
      <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{isa.name}}</div>
        <div matListItemLine>{{isa.total}}</div>
      </mat-list-item>
    }

    <mat-divider></mat-divider>

    <div mat-subheader>Other stocks &amp; shares</div>
    @for (isa of isas; track isa) {
      <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{isa.name}}</div>
        <div matListItemLine>{{isa.total}}</div>
      </mat-list-item>
    }
  </mat-list>
</section>

<section>
  <h2 class="mat-headline-4">Pensions</h2>

  <!-- <mat-list>
    <div mat-subheader matTooltip="Government-provided state pensions">State</div>

  </mat-list>

  <mat-list>
    <div mat-subheader matTooltip="Stakeholder &amp; self-invested personal pensions">Personal</div>

  </mat-list>

  <mat-list>
    <div mat-subheader matTooltip="Workplace pensions">Workplace</div>

  </mat-list> -->
</section>


<app-investments-crypto></app-investments-crypto>



<!-- Pensions: -->
<!-- SIPPs -->
<!-- Company schemes -->


<!-- Stocks & Shares -->

<!-- Crypto -->


<!-- Property: display here, but link to Assets page to add properties -->
